@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');


*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
  }
body{
  font-family: JetBrains Mono,monospace;

}

.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2b2929;
}

/* NAVV */
.header {
  margin: auto;
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  opacity: 0.8;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}
.header .logo {
  flex-grow: 2;
  display: flex;
  color: rgb(255, 255, 255);
  margin-left: 90px;
}
.header .logo span{
  display: block;
  font-size: 55px;
  font-weight: bolder;
}
.header .logo span a{
  text-decoration: none;
  color: white;
}
.header .logo h2{
  display: block;
  flex-basis: 20px;
  margin-left: 30px;
  margin-top: 8px;
  font-weight: 100;
  text-transform: lowercase;
  font-size: 22px;
}

.header nav{
  margin: 0;
  padding: 30px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

}
.menu li {
  font-size: 1rem;
  font-weight: bold;
  margin: 0px 40px ;
}
.menu li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.5s ease-in-out;
}
.menu li a:hover{
  color: rgb(197, 0, 197);
}
.toggle-button {
  display: none;
  cursor: pointer;
  font-size: 2.5rem;
  position: relative;
  right: 60px;
  color: white;
}



/* HOMEEE */
.home{
  
  margin: auto;
}

.home-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/tech1.jpg") ;
  background-repeat:  no-repeat;
  background-size: cover;
  background-position: center center;
  
  
}

.home-section .description {
  font-size: 3.3rem; 
  color: white; 
  font-weight: bolder;
  text-align: center;
  overflow: hidden; 
  border-right: 0.15em solid #000000;
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: 0.15em; 
  animation: 
    typing 2s steps(90, end),
    blink-caret 0.75s step-end infinite; /* anima el cursor */

}

/* animación de escritura */
@keyframes typing {
  from { width: 0 }
  to { width: 40% }
}

/* animación de cursor */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #000000; }
}


/* ABOUUT MI */
.about{
  max-width: 1400px;
  margin: auto;
  
}

.about-section {
  display: flex; /* esto es para que la imagen y la descripción estén alineadas en línea */
  align-items: center; /* esto es para que la imagen y la descripción queden centradas verticalmente */
  flex-direction: column;
}
.about-section h2{
  
  margin-top: 100px;
  font-size: 3.3rem;
  text-align: center;
  margin-bottom: 50px;
}

.about-image {
  overflow: hidden;
  border-radius: 10px ;
  object-fit: cover;
  width: 270px; 
  height:370px; 
  transition: 0.3s ease-in;
}
.about-image:hover{
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
}


.about-description {
  margin-top: 50px;
  width: 60%; /* esto es para que la descripción ocupe la mitad del ancho del contenedor */
  font-size: 1.2rem;
  
  text-align: center;
  margin-bottom: 70px;
}
.about-description p{
  line-height: 26px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 50px;
  
}
.about-description span{
  text-align: center;
  
}

.about-description h3{
  padding-top: 50px;
  text-align: center;
  
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.about-description svg{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: bold;
  border-radius: 25px;
  padding: 0px 7px 0 7px;
  background-color: #4e067e;
  transition: 0.3s ease-in-out;
}

.about-description svg:hover  {
  transform: scale(1.2);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


/* SKILLLLS */
.skills-contain{
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  max-width: 100%;
  margin: auto;
  padding-bottom: 200px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 17%, rgba(162,140,222,1) 100%, rgba(223,96,240,1) 100%, rgba(0,212,255,1) 100%);
  
}

.skills-contain h1{
  text-align: center;
  font-size: 3.3rem;
  margin-bottom: 20px;
  color: white;
  
}
.skills-contain .skills{
  padding-top: 70px;
  margin: auto;
  width: 80%;
  color: white;
  border-radius: 20px;
  transition: all 0.5s;
}

.skills-contain .skills ul{
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  text-align: center;
  margin-top: 30px;
}
.skills-contain .skills li{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 5rem;
  list-style: none;
  padding-bottom: 70px;
}

.skills-contain .skills li span{
  padding-top: 10px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

/* PROYECTSS */
.proyects {
  max-width: 1400px;
  margin: auto;
}
.proyects h1{
  font-size: 3.3rem;
  padding-top: 110px;
  
  text-align: center;
}
.works{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-top: 70px;
}

.work-item{
  margin-top: 200px;
  margin: 15px;
  border-radius: 10px;
  margin-bottom: 45px;
}


.work-item h2{
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 30px;
}
.work-item .map-img{
  align-items: center;
  position: relative;
  margin-left: 60px;
  width: 80%;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
}

.work-item .map-img img{
  width: 100%;
  height: 100%;
  transition: all 500ms;
  
}
.work-item .map-img .capa{
  position: absolute;
  text-transform: uppercase;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 500ms;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  width: 100%;
  height: 100%;
}
.work-item .map-img:hover > .capa{
  opacity: 1;
  visibility: visible;
}
.work-item .map-img:hover > .capa p{
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.work-item .map-img .capa p{
  color: white;
  line-height: 30px;
  margin-left: 50px;
  text-align: justify;
  font-weight: bolder;
  font-size: 1rem;
  text-transform: none;
  margin-bottom: 120px;
  transition: all 300ms ease-out;
  margin-top: 30px;
  width: 80%;
}


.work-item .links{
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin: auto;
  padding: 10px 80px 10px 70px;
  color: black;
}
.work-item .links a{
  transition:  0.5s ease;

}
.work-item .links a:hover{
  color: #cd82ff;
}
.work-item h3{
  display: flex;
  margin: auto;
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
  text-align: center;
  font-weight: bolder;
  
  justify-content: center;
  text-shadow: 2px 2px 10px rgb(191, 0, 255);
  text-align: center;
  padding: 3px;
  
}



/* FORRRMM */
.contact{
  max-width: 1400px;
  margin: auto;
}
.contact h1{
  padding-top: 110px;
  text-align: center;
  font-size: 3.3rem;
  margin-bottom: 120px;
}
.contact form {
  margin:  auto;
  margin-top: 50px;
  width: 45%;
  margin-bottom: 70px;
  text-align: center;
}

.contact form label{
  
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.contact form input[type="text"],
input[type="email"],
textarea {
  margin-top: 30px;
  margin-bottom: 40px;
  width: 100%;
  padding: 12px 20px;
  font-size: 1rem;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  border-radius: 4px;
  
}

.contact form input[type="submit"] {
  margin-top: 80px;
  width: 25%;
  font-size: 1.2rem;
  background-color: #4e067e;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition:  0.3s ease-in-out;
  font-family: JetBrains Mono,monospace;;
}

.contact form input[type="submit"]:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.alert span{
  text-align: center;
  align-items: center;
  padding-left: 20px;
  font-weight: bolder;

}

/* FOOTER */
footer {
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
  color: white;
  text-align: center;
  padding: 40px;
}
footer .back-to-top {
  padding-bottom: 40px;
}
footer .back-to-top svg{
  color: white;
  font-size: 2rem;
  transition: 0.3s all;
}
footer .back-to-top svg:hover{
  transform:  scale(1.2);
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


.footer-col a {
  font-size: 2.4rem;
  color: white;
  margin: 30px;
  transition: 0.3s ease-in-out;
}
.footer-col a:hover{
  color: #7e3baa;
  background-color: black;
}

/* ERRRORR */
.error{
  min-height: 890px;
  max-width: 1400px;
  margin: auto;
}
.error .error-link{
  padding-top: 200px;
  text-align: center;
}



/* MEDIA QUERI */

@media(max-width: 1600px){
  .home-section .description{
    font-size: 3rem;
    animation: 
    typing 2s steps(80, end),
    blink-caret 0.75s step-end infinite; 

  }

  @keyframes typing {
    from { width: 0 }
    to { width: 47% }
  }
}

@media (max-width: 1320px){
  .home-section .description{
    font-size: 3rem;
    animation: 
    typing 2s steps(80, end),
    blink-caret 0.75s step-end infinite; 

  }

  @keyframes typing {
    from { width: 0 }
    to { width: 65% }
  }
}

@media (max-width: 1205px) {
  .header .logo{
    margin-left: 70px;
  }
  .header .logo span{
    font-size: 55px;
  }
  .header .logo h2{
    font-size: 22px;
    margin: 6px 0 0 30px;
  }
  .visible li a{
    font-size: 10px;
    
  }
  .menu li{
    margin: 0 25px;
  }
  .home-section .description{
    font-size: 3rem;
    animation: 
    typing 2s steps(80, end),
    blink-caret 0.75s step-end infinite; 

  }
  @keyframes typing {
    from { width: 0 }
    to { width: 70% }
  }
  .skills-contain .skills{
    width: 80%;
    margin-top: 80px;
  }
  .work-item .map-img .capa p{
    font-size: 1rem;
    margin-left: 30px;
    line-height: 25px;
  }
}

@media (max-width: 1024px){
  .header .logo span{
    font-size: 50px;
  }
  .header .logo h2{
    font-size: 20px;
    margin: 6px 0 0 30px;
  }
  .header nav{
    margin-right: 60px;
  }
  .menu li a{
    font-size: 0.9rem;
  }
  .menu li{
    margin: 0 10px ;
  }
  .home-section .description{
    font-size: 2.7rem;
    animation: 
    typing 2s steps(80, end),
    blink-caret 0.75s step-end infinite; 

  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 70% }
  }
  .about-image:hover{
    transform: none;
  }
  .about-description svg:hover{
    transform: none;
    box-shadow: none;
  }
  .skills-contain .skills {
    padding-top: 20px;
    width: 90%;
  }
  .skills-contain .skills li{
    margin-top: 20px;
    font-size: 4rem;
  }
  .works{
    display: grid;
    grid-template-columns: 1fr;
  }
  .work-item{
    place-self: center;
    width: 85%;
  }

  .work-item .links{
    font-size: 1.4rem;
    padding: 10px 100px 10px 80px;
  }
  
  .work-item .map-img:hover > .capa p{
    margin-top: 30px;
    margin-bottom: 10px;
    
  }
  .work-item .map-img .capa p{
    font-size: 1.1rem;
    margin-left: 50px;
    line-height: 35px;
    
  }
  .contact form{
    width: 52%;
  }
  .contact h1{
    margin-bottom: 120px;
  }
  .contact form input[type="text"], input[type="email"], textarea {
    margin-bottom: 50px;
  }
  .contact form input[type="submit"]:hover{
    transform: none;
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  .home-section .description{
    font-size: 2rem;
    animation: 
    typing 2s steps(80, end),
    blink-caret 0.75s step-end infinite; 

  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 65% }
  }

  .menu {
    display: none;
  }
  .toggle-button {
    display: flex;
    left: 30px;
  }
 
  .visible {
    position: absolute;
    display: grid;
    gap: 1em;
    grid-auto-rows: max-content;
    flex-wrap: wrap;
    z-index: 100;
    padding: 30px 0 0 20px;
    right: 0;
    width: 55%;
    max-width: 330px;
    background-color: #000000;
    height: 100vh;
    overflow-y: auto;
    
  }

  .visible li {
    padding-top: 30px;
    color: white;
  }
  
  .visible li a{
    font-size: 1.3rem;
    color: white;
    overflow: hidden;
  }
  .about-description{
    width: 80%;
    
  }
  .about-description p{
    text-align: justify;
  }
  
  
  .skills-contain h1{

    padding-bottom: 55px;
    margin: 0;
  }

  .skills-contain .skills{
    margin-top: 0;
    width: 70%;
  }
  .skills-contain .skills:hover{
    box-shadow: none;
  }
  .skills-contain .skills ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0px;
  }
  .skills-contain .skills li{
    padding-bottom: 70px;
  }
  
  .works{
    display: grid;
    grid-template-columns: 1fr;
    
  }
  .work-item .map-img:hover > .capa p{
    margin-top: 10px;
    margin-bottom: 10px;
    
  }
  .work-item .map-img .capa p{
    font-size: 0.8rem;
    margin-left: 30px;
    line-height: 25px;
    
  }
  .work-item .links{
    
    padding: 10px 70px 10px 80px;
  }
  
}
@media (max-width: 550px){
  .work-item .links{
    padding: 10px 50px 10px 80px;
  }
  
  .work-item .map-img .capa p{
    font-size: 0.8rem;
    margin-left: 30px;
    line-height: 22px;
    
  }
}

@media (max-width: 480px) {
  .header .logo{
    margin-left: 30px;
    
  }
  .header .logo span{
    font-size: 43px;
  }
  .header .logo h2{
    font-size: 18px;
    margin: 4px 0 0 20px;
  }
  .visible li{
    padding: 30px 0 0 0px;
  }
  .visible li a{
    font-size: 1.1rem;
  }
  .home-section .description{
    font-size: 1.5rem;
    animation: 
    typing 2s steps(80, end),
    blink-caret 0.75s step-end infinite; 

  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 90% }
  }
  .about-section h2{
    font-size: 3rem;
  }
  .about-image{
    width: 220px;
    height: 320px;
  }
  .about-description p{
    font-size: 1rem;
  }
  .about-description span{
    font-size: 1rem;
  }
  .skills-contain h1{
    font-size: 2.7rem;
    margin-bottom: 40px;
  }
  .skills-contain .skills {
    margin-bottom: 40px;
    width: 90%;
  }
  
  .skills-contain .skills:hover{
    box-shadow: none;
  }
  .skills-contain .skills li{
    margin-top: 25px;
    font-size: 3.5rem;
  }
  .proyects h1{
    font-size: 2.7rem;
  }
  .work-item h2{
    font-size: 1.1rem;
  }
  .work-item .map-img{
    margin-left: 10px;
    width: 95%;
  }
  .work-item .map-img:hover > .capa p{
    margin-top: 10px;
  }

  .work-item .map-img .capa p{
    width: 93%;
    font-size: 0.8rem;
    margin-left: 10px;
    line-height: 18px;
  }
  .work-item .links{
    
    font-size: 1.2rem;
    padding: 10px 40px 10px 32px;
  }
  .work-item h3{
    
    font-size: 0.8rem;
  }
  .contact h1{
    font-size: 2.7rem;
  }
  .contact form{
    width: 70%;
  }
  .contact form label{
    font-size: 1rem;
  }
  .contact form input[type='submit']{
    margin-top: 70px;
    font-size: 1rem;
  }
  .footer-col a{
    margin-top: 20px;
    font-size: 1.6rem;
    margin-right: 30px;
  }
  .footer-col a svg{
    margin-top: 5px;
    
  }

}

@media (max-width:360px) {
  .header .logo{
    margin-left: 50px;
  }
  .header .logo span{
    font-size: 45px;
  }
  .header .logo h2{
    font-size: 17px;
    margin: 7px 0 0 20px;
  }
  .visible li a{
    font-size: 17px;
  }
  .home-section .description{
    font-size: 1.2rem;
    animation: 
    typing 2s steps(80, end),
    blink-caret 0.75s step-end infinite; 

  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 80% }
  }
  .about-section h2{
    margin-top: 80px;
  }
  .skills-contain h1{
    font-size: 2.8rem;
  }
  .skills-contain .skills{
    width: 82%;
    margin-top: 20px;
  }
  .skills-contain .skills li{
    font-size: 3rem;
  }
  .skills-contain .skills ul{
    margin-top: 15px;
  }
  .proyects h1{
    font-size: 2.8rem;
  }
  .work-item .map-img{
    margin-left: 17px;
    width: 90%;
  }
  .work-item .map-img .capa p{
    font-size: 0.6rem;
    margin-left: 20px;
    line-height: 20px;
  }
  .contact h1{
    font-size: 2.8rem;
  }
  .contact form{
    width: 70%;
  }
  .contact form input[type='submit']{
    margin-top: 70px;
  }
  .footer-col{
    margin-top: 5px;
  }
  .footer-col a {
    margin-right: 30px;
    
  }
  
}









