@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');


*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
  }
body{
  font-family: JetBrains Mono,monospace;

}


/* NAVV */
.header {
  margin: auto;
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  opacity: 0.8;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}
.header .logo {
  flex-grow: 2;
  display: flex;
  color: rgb(255, 255, 255);
  margin-left: 90px;
}
.header .logo span{
  display: block;
  font-size: 60px;
  font-weight: bolder;
}
.header .logo h2{
  display: block;
  flex-basis: 20px;
  margin-left: 30px;
  margin-top: 8px;
  font-weight: 100;
  text-transform: lowercase;
  
}

.header nav{
  margin: 0;
  padding: 30px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

}
.menu li {
  font-size: 1rem;
  font-weight: bold;
  margin: 0px 45px ;
}
.menu li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.5s ease-in-out;
}
.menu li a:hover{
  color: rgb(197, 0, 197);
}
.toggle-button {
  display: none;
  cursor: pointer;
  font-size: 2.5rem;
  position: relative;
  right: 60px;
  color: white;
}



/* HOMEEE */
.home{
  
  margin: auto;
}

.home-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(rgba(17, 17, 17, 0.5), rgba(46, 45, 45, 0.5)), url("./assets/tech1.jpg") ;
  background-repeat:  no-repeat;
  background-size: cover;
  background-position: center center;
  
}

.home-section h1 {
  font-size: 3.5rem; 
  color: white; 
  font-weight: bolder;
  text-align: center;
  overflow: hidden; 
  border-right: 0.15em solid #000000;
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: 0.15em; 
  animation: 
    typing 2s steps(80, end),
    blink-caret 0.75s step-end infinite; /* anima el cursor */

}

/* animación de escritura */
@keyframes typing {
  from { width: 0 }
  to { width: 42% }
}

/* animación de cursor */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #000000; }
}


/* ABOUUT MI */
.about{
  max-width: 1400px;
  margin: auto;
  
}

.about-section {
  display: flex; /* esto es para que la imagen y la descripción estén alineadas en línea */
  align-items: center; /* esto es para que la imagen y la descripción queden centradas verticalmente */
  flex-direction: column;
}
.about-section h2{
  
  margin-top: 100px;
  font-size: 3.3rem;
  text-align: center;
  margin-bottom: 50px;
}

.about-image {
  border-radius: 10px ;
  object-fit: cover;
  width: 270px; 
  height:370px; 
  transition: 1s ease;
  -webkit-filter: blur(5px);
  transition: 0.5s ease;
}
.about-image:hover{
  -webkit-filter: blur(0px);
  
}

.about-description {
  margin-top: 50px;
  width: 50%; /* esto es para que la descripción ocupe la mitad del ancho del contenedor */
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 70px;
}
.about-description p{
  line-height: 30px;
  margin-top: 20px;
  text-align: justify;
  margin-bottom: 50px;
}

.about-description h3{
  margin-bottom: 20px;
}
.about-description a{
  text-decoration: none;
  color: black;
  font-size: 2rem;
  transition: 0.5s ease-in-out;
  font-weight: bolder;
  border: 2px solid black;
  border-radius: 20px;
  padding: 8px 10px 0 10px;
}

.about-description a:hover{
  color: rgb(199, 89, 221);
  background-color: black;
  
}


/* SKILLLLS */
.skills-contain{
  padding-top: 100px;
  height: 100vh;
  max-width: 100%;
  margin: auto;
  padding-bottom: 100px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 17%, rgba(162,140,222,1) 100%, rgba(223,96,240,1) 100%, rgba(0,212,255,1) 100%);
}
.skills-contain h1{
  
  text-align: center;
  font-size: 3.3rem;
  margin-bottom: 80px;
  color: white;
  
}
.skills-contain .skills{
  padding-top: 40px;
  margin: auto;
  width: 70%;
  margin-top: 100px;
  background-color: white;
  margin-bottom: 40px;
  border-radius: 20px;
  transition: all 0.5s;
}
.skills-contain .skills:hover{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.skills-contain .skills ul{
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin-top: 30px;
}
.skills-contain .skills li{
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 4.7rem;
  list-style: none;
  padding-bottom: 90px;
  
}
.skills-contain .skills li span{
  padding-top: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #8d008d;
}

/* PROYECTSS */
.proyects {
  max-width: 1400px;
  margin: auto;
}
.proyects h1{
  font-size: 3.3rem;
  padding-top: 110px;
  
  text-align: center;
}
.works{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-top: 100px;
}
.work-item{
  
  margin-top: 200px;
  margin: 15px;
  border-radius: 10px;
  margin-bottom: 45px;
}
.work-item h2{
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 30px;
}
.work-item .map-img{
  align-items: center;
  position: relative;
  margin-left: 60px;
  width: 80%;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
}

.work-item .map-img img{
  width: 100%;
  height: 100%;
  transition: all 500ms;
  
}
.work-item .map-img .capa{
  position: absolute;
  text-transform: uppercase;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 500ms;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  width: 100%;
  height: 100%;
}
.work-item .map-img:hover > .capa{
  opacity: 1;
  visibility: visible;
}
.work-item .map-img:hover > .capa p{
  margin-top: 40px;
  margin-bottom: 20px;
  
}
.work-item .map-img .capa p{
  color: white;
  line-height: 30px;
  margin-left: 50px;
  text-align: justify;
  font-weight: bolder;
  font-size: 1rem;
  text-transform: none;
  margin-bottom: 120px;
  transition: all 300ms ease-out;
  margin-top: 30px;
  width: 80%;
}


.work-item .links{
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 10px 80px 10px 70px;
}
.work-item .links a{
  transition:  0.5s ease;

}
.work-item .links a:hover{
  color: rgb(255, 0, 221);
}
.work-item h3{
  font-size: 0.9rem;
  font-weight: bolder;
  text-align: center;
}



/* FORRRMM */
.contact{
  max-width: 1400px;
  margin: auto;
}
.contact h1{
  padding-top: 110px;
  text-align: center;
  font-size: 3.3rem;
  margin-bottom: 150px;
}
.contact form {
  margin:  auto;
  margin-top: 50px;
  width: 45%;
  margin-bottom: 70px;
  text-align: center;
}

.contact form label{
  
  font-size: 1.3em;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.contact form input[type="text"],
input[type="email"],
textarea {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  padding: 12px 20px;
  font-size: 1rem;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  border-radius: 4px;
  
}

.contact form input[type="submit"] {
  margin-top: 100px;
  width: 50%;
  background-color: #7e067e;
  color: #fff;
  padding: 14px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition:  0.3s ease-in-out;
}

.contact form input[type="submit"]:hover {
  background-color: #913e91;
}
.alert{
  margin-left: 25%;
  text-align: center;
  justify-content: center;
}

/* FOOTER */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}


.footer-col a {
  font-size: 1.4rem;
  color: white;
  margin-right: 40px;
}
.footer-col .footer-name{
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer-col .footer-name .icon{
  color: aqua;
  margin-right: 20px;
  font-size: 1rem;
}
.footer-col .footer-name p{
  line-height: 17px;
  font-size: 1rem;
}

@media (max-width: 360px){
  .header .logo span{
    font-size: 3.4rem;
  }
  .header .logo h2{
    margin-left: 15px;
    font-size: 0.1rem;
    
  }
  
  .menu  li a{
    color: white;
    font-size: 1.2rem;
  }
  .header .visible{
    margin-top: 5px;
  }
  .header .visible li a{
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: black;
    opacity: 0.8;
  }
  .home .home-section  .description {
    font-size: 1.4rem;
    animation: 
    typing 1.3s steps(100, end),
    blink-caret 0.75s step-end infinite; /* anima el cursor */
  }
  /* animación de escritura */
  @keyframes typing {
    from { width: 0 }
    to { width: 95% }
  }

  /* animación de cursor */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #000000; }
  }
  .works .work-item .map-img:hover > .capa p{
    margin-top: 10px;
    margin-bottom: 10px;
    
  }
  .works .work-item .map-img .capa p{
    font-size: 0.7rem;
    margin: auto;
    line-height: 15px;
    
  }
  .contact form{
    width: 60%;
  }
  .footer-container .footer-col a{
    line-height: 40px;
    margin-right: 20px;
  }
  .footer-col .footer-name .icon{
    font-size: 1.8rem;
    margin-left: 20px;
    margin-right: 0;
  }
}
@media (max-width: 440px){
  .home .home-section  .description {
    font-size: 1.3rem;
    animation: 
    typing 1.3s steps(100, end),
    blink-caret 0.75s step-end infinite; /* anima el cursor */
  }
  /* animación de escritura */
  @keyframes typing {
    from { width: 0 }
    to { width: 95% }
  }

  /* animación de cursor */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #000000; }
  }
}


@media  (max-width: 583px) {
  .header .logo{
    margin-left: 35px;
  }
  .header .logo h2{
    line-height: 25px;
    font-size: 1.3rem;
    
  }
  .toggle-button{
    font-size: 2rem;
  }
  .home-section .description{
    font-size: 1.8rem;
  }
  .about-description{
    width: 80%;
  }
  .works{
    gap: 50px;
  }
  .work-item .map-img{
    width: 90%;
    margin: auto;
  }
  .work-item .map-img:hover > .capa p{
    margin-top: 15px;
    margin-bottom: 10px;
    
  }
  .work-item .map-img .capa p{
    font-size: 0.8rem;
    margin-left: 30px;
    line-height: 20px;
    
  }
  .contact form label{
    font-size: 1.1rem;
  }

  
}

/* MEDIA QUERI */

@media (max-width: 770px) {
  .menu {
      display: none;
  }
  .toggle-button {
      display: flex;
      margin-left: 70px;
  }
  .visible {
    position: absolute;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 100;
    margin-top: 30px;
   
  }
  .visible li {
    font-size: 1.5rem;
    padding-top: 20px;
    margin-left: 5px;
    color: white;
  }
  .visible li a{
    color: black;
    overflow: hidden;
  }
  .home-section h1{
    font-size: 2.5rem;
    animation: 
    typing 2s steps(80, end),
    blink-caret 0.75s step-end infinite; /* anima el cursor */

  }
  /* animación de escritura */
  @keyframes typing {
    from { width: 0 }
    to { width: 80% }
  }

  /* animación de cursor */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #000000; }
  }
  .about-description{
    width: 80%;
  }
  .about-image{
    -webkit-filter: blur(0px);
  }
  .skills-contain{
    height: 110vh;
    padding: 0;
  }
  .skills-contain h1{
    padding-top: 40px;
    padding-bottom: 50px;
    margin: 0;
  }

  .skills-contain .skills{
    margin-bottom: 0;
    margin-top: 30px;
    padding-top: 40px;
    width: 80%;
    height: 75%;
  }
  .skills-contain .skills ul{
    margin-bottom: 0;
  }
  
  .works{
    display: grid;
    grid-template-columns: 1fr;
    
  }
  .work-item .map-img:hover > .capa p{
    margin-top: 20px;
    margin-bottom: 10px;
    
  }
  .work-item .map-img .capa p{
    font-size: 1rem;
    margin-left: 30px;
    line-height: 27px;
    
  }
  
  .skills-contain .skills ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}